.store-card {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.store-card:hover {
  border: 1px solid #4f0f40;
}
.store-thumb {
  width: 140px;
  height: 90px;
  position: relative;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
}
.store-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.store-info {
  padding: 2px;
  text-align: center;
  font-size: 24px !important;
}
.store-name {
  font-size: 14px;
  line-height: 14px;
}
.store-name a,
.store-btn {
  color: #111;
  text-transform: capitalize;
}
.store-more-btn {
  position: absolute;
  top: -56px;
  right: 80px;
}
.more-store {
  margin: auto 0;
}
.more-store-name {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}
.store-more-btn a {
  background: var(--light-color);
  border: 1px solid #ddd;
  border-radius: 25px;
  color: #111;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  padding: 7px 9px;
  text-transform: capitalize;
}
.store-more-btn a:hover {
  background-color: var(--theme-color);
  color: var(--light-color);
}
.store-more-btn::before {
  content: '';
}
/* ---------------------------
    Store slider arrow css
---------------*/
.home_store_section .owl-nav {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  border-radius: 25px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  right: 0;
  top: -54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}
.home_store_section .owl-nav .owl-prev,
.home_store_section .owl-nav .owl-next {
  height: 100%;
  width: 100%;
}
.home_store_section .owl-nav .owl-next {
  margin-left: 10px;
}
.home_store_section .owl-nav:hover button.owl-prev,
.home_store_section .owl-nav:hover button.owl-next {
  background-color: #fff;
  color: #222;
}
