:root {
  --theme-color: #4f0f40;
  --light-color: #fff;
}

/*-------------------------
  Sidebar Component css
---------------------------*/
.sidebar_menu {
  width: 70%;
  height: 100vh;
  background: var(--light-color);
  border: 2px solid var(--theme-color);
  position: absolute;
  left: -50%;
  top: 0px;
  z-index: 100;
  padding-top: 18px;
}
.sidebar_open {
  left: 0;
}
.sidebar_close_btn .lnr {
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  float: right;
}
.sidebar_menu ul li:not(:last-child) a {
  border-bottom: 1px solid var(--theme-color);
}
.sidebar_menu ul li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.sidebar_menu ul li a:hover {
  background-color: var(--theme-color);
  color: var(--light-color);
}
