* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* All cart page default btn css */
.choose_product {
  margin: 0 auto;
  width: fit-content;
}
.choose_product a {
  width: 200px;
  border: 2px solid var(--theme-color);
  background-color: transparent;
  color: var(--theme-color);
  /* border: none; */
}
.choose_product a:hover {
  background-color: var(--theme-color);
  color: #fff;
}
.loading-opacity {
  opacity: 0.4;
}
