@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');
:root {
  /* --theme-color: #4f0f40; */
  --theme-color: #13a7b1;
  --light-color: #fff;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*----------------------
  cart_added_animation css
  ----------------------*/
.cart_added_animation {
  position: fixed;
  top: 80px;
  right: -500px;
  z-index: 2000;
  background: var(--theme-color);
  color: var(--light-color);
  padding: 0.6em 1.2em;
  display: flex;
  align-items: center;
}
.animation_active {
  right: 20px;
}
.cart_added_animation .lnr {
  margin-right: 0.6em;
  font-size: 1.1rem;
  font-weight: 500;
}
.cart_added_animation h3 {
  text-transform: capitalize;
}
